@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 1212px;
  margin: 0 auto;
}

header {
  background-image: url(./images/Background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header nav {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .nav_left {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
header nav .nav_left ul {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: center;
}
header nav .nav_left ul li a {
  color: #111827;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 4px 8px;
}
header nav .nav_images {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  align-items: center;
}
header nav .nav_images > img:nth-child(3) {
  display: none;
}

.hero {
  margin-top: 72px;
  display: flex;
  -moz-column-gap: 164px;
       column-gap: 164px;
  margin-bottom: 16px;
}
.hero .hero_title {
  max-width: 648px;
}
.hero .hero_title h1 {
  color: #111827;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  margin-top: 96px;
  word-wrap: break-word;
  margin-bottom: 16px;
}
.hero .hero_title p {
  color: #111827;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #374151;
  word-wrap: break-word;
  margin-bottom: 32px;
}
.hero .hero_title .hero_play {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.hero .hero_title .hero_play button {
  color: #111827;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 16px 24px;
  background: #7C3AED;
  border-radius: 8px;
  color: white;
  border: none;
}
.hero .hero_title .hero_play span {
  color: #111827;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  color: #7C3AED;
}

.logos {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 40px 0px;
  -moz-column-gap: 64px;
       column-gap: 64px;
  border-top: 1px solid rgb(236, 234, 234);
  border-bottom: 1px solid rgb(236, 234, 234);
  margin-bottom: 16px;
  align-items: center;
  justify-content: center;
}

.features {
  padding: 96px 0px;
}

.features h2 {
  color: #111827;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 8px;
  text-align: center;
}

.features > p {
  color: #111827;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  max-width: 800px;
  margin: 0 auto 64px;
  text-align: center;
  word-wrap: break-word;
}

.grid_container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 64px 30px;
}

.grid_container > div {
  padding: 0 16px;
  margin: 0 auto;
  text-align: center;
}

.grid_container .item > div {
  text-align: center;
  margin: 0 auto;
}

.grid_container > div h4 {
  color: #111827;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.grid_container > div p {
  color: #111827;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #374151;
}

.real2 {
  display: none;
}

.real {
  background: #D5FAFC;
  padding-bottom: 96px;
  margin-bottom: 80px;
}
.real .real_customers {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.real .real_customers .real_customers_left {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 64px;
}
.real .real_customers .real_customers_left .real_customers_title {
  position: relative;
  padding-top: 56px;
  padding-left: 104px;
  width: 612px;
}
.real .real_customers .real_customers_left .real_customers_title > h3 {
  color: #111827;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 8px;
  word-wrap: break-word;
}
.real .real_customers .real_customers_left .real_customers_title > p {
  color: #111827;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.real .real_customers .real_customers_left .real_customers_title > .quote {
  position: absolute;
  top: 0;
  left: 0;
}
.real .real_customers .real_customers_left .hubspot {
  padding: 32px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
  border: none;
}
.real .real_customers .real_customers_left .hubspot .company_logo {
  margin-bottom: 32px;
}
.real .real_customers .real_customers_left .hubspot .option {
  padding-left: 32px;
  position: relative;
}
.real .real_customers .real_customers_left .hubspot .option p {
  color: #111827;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  max-width: 288px;
  word-wrap: break-word;
  margin-bottom: 24px;
}
.real .real_customers .real_customers_left .hubspot .option h4 {
  color: #111827;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  word-wrap: break-word;
  margin-bottom: 0;
}
.real .real_customers .real_customers_left .hubspot .option span {
  color: #111827;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #6B7280;
  word-wrap: break-word;
}
.real .real_customers .real_customers_left .hubspot .option .quote {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 13px;
}
.real .real_customers .real_customers_right {
  margin-top: 196px;
}
.real .real_customers .real_customers_right .airbnb {
  padding: 32px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
  border: none;
  margin-bottom: 32px;
}
.real .real_customers .real_customers_right .airbnb .company_logo {
  margin-bottom: 32px;
}
.real .real_customers .real_customers_right .airbnb .option {
  padding-left: 32px;
  position: relative;
}
.real .real_customers .real_customers_right .airbnb .option p {
  color: #111827;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  max-width: 392px;
  word-wrap: break-word;
  margin-bottom: 24px;
}
.real .real_customers .real_customers_right .airbnb .option h4 {
  color: #111827;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  word-wrap: break-word;
  margin-bottom: 0;
}
.real .real_customers .real_customers_right .airbnb .option span {
  color: #111827;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #6B7280;
  word-wrap: break-word;
}
.real .real_customers .real_customers_right .airbnb .option .quote {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 13px;
}
.real .real_customers .real_customers_right .strapi {
  padding: 32px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
  border: none;
}
.real .real_customers .real_customers_right .strapi .company_logo {
  margin-bottom: 32px;
}
.real .real_customers .real_customers_right .strapi .option {
  padding-left: 32px;
  position: relative;
}
.real .real_customers .real_customers_right .strapi .option p {
  color: #111827;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  max-width: 288px;
  word-wrap: break-word;
  margin-bottom: 24px;
}
.real .real_customers .real_customers_right .strapi .option h4 {
  color: #111827;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  word-wrap: break-word;
  margin-bottom: 0;
}
.real .real_customers .real_customers_right .strapi .option span {
  color: #111827;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #6B7280;
  word-wrap: break-word;
}
.real .real_customers .real_customers_right .strapi .option .quote {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 13px;
}

.our_achievements {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 32px;
       column-gap: 32px;
  margin-bottom: 160px;
}
.our_achievements .our_achievements_left {
  padding-top: 11px;
  word-wrap: break-word;
}
.our_achievements .our_achievements_left h3 {
  color: #111827;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  width: 488px;
  margin-bottom: 8px;
}
.our_achievements .our_achievements_left p {
  color: #111827;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.our_achievements .our_achievements_right {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px 32px;
}
.our_achievements .our_achievements_right .statistic {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
}
.our_achievements .our_achievements_right .statistic .statistic_img {
  padding: 8px;
}
.our_achievements .our_achievements_right .statistic .statistic_title h3 {
  color: #111827;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  word-wrap: break-word;
  margin-bottom: 0;
}
.our_achievements .our_achievements_right .statistic .statistic_title p {
  color: #111827;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.integration {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 32px;
       column-gap: 32px;
  margin-bottom: 80px;
}
.integration .integration_title {
  width: 488px;
  padding: 40px 0px;
  word-wrap: break-word;
}
.integration .integration_title h3 {
  color: #111827;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 8px;
}
.integration .integration_title p {
  color: #111827;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.manage_section {
  background: #1DB5BE;
}
.manage_section .manage {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.manage_section .manage .manage_title {
  margin-top: 111px;
  word-wrap: break-word;
}
.manage_section .manage .manage_title h3 {
  color: #111827;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  width: 592px;
  margin-bottom: 8px;
}
.manage_section .manage .manage_title p {
  color: #111827;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  width: 592px;
  margin-bottom: 48px;
}
.manage_section .manage .manage_title span {
  color: #111827;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 8px;
}
.manage_section .manage .manage_title .get_apps_box {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  align-items: center;
}
.manage_section .manage .manage_img_box {
  display: flex;
}
.manage_section .manage .manage_img_box .last_child {
  margin-top: 174px;
}

footer {
  background-color: black;
  padding: 64px 0px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  padding-right: 41px;
}
footer .container .footer_left .footer_logo {
  margin-bottom: 24px;
}
footer .container .footer_left .service {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  margin-bottom: 12px;
}
footer .container .footer_left .service span {
  color: #111827;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
}
footer .container .footer_left ul {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 12px;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 24px;
}
footer .container .footer_left ul li a {
  color: #111827;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
}
footer .container .footer_left > p {
  color: #111827;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #D1D5DB;
}
footer .container .footer_right > p {
  color: #111827;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #D1D5DB;
  word-wrap: break-word;
  margin-bottom: 16px;
}
footer .container .footer_right .footer_right_imgs {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 688px;
    margin: 0 auto;
  }
  header nav .nav_left ul {
    display: none;
  }
  header nav .nav_images > img:nth-child(3) {
    display: block;
    margin-left: 12px;
  }
  .hero {
    margin-top: 80px;
    display: block;
  }
  .hero .hero_title {
    max-width: 700px;
  }
  .hero .hero_title h1 {
    color: #111827;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    word-wrap: break-word;
    margin-bottom: 16px;
  }
  .hero .hero_title .hero_play {
    margin-bottom: 80px;
  }
  .hero .hero_img {
    display: flex;
    justify-content: center;
  }
  .logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px 64px;
  }
  .features {
    padding: 80px 0px;
  }
  .features h2 {
    font-size: 36px;
    line-height: 45px;
  }
  .grid_container {
    grid-template-columns: auto auto;
  }
  .grid_container .item > div {
    width: 32px;
    height: 32px;
  }
  .grid_container .item > div > img {
    width: 100%;
    height: 100%;
  }
  .grid_container > div h4 {
    font-size: 24px;
    line-height: 32px;
  }
  .real {
    display: none;
  }
  .real2 {
    display: block;
    background: #D5FAFC;
    padding-bottom: 80px;
    padding-top: 64px;
    margin-bottom: 80px;
  }
  .real2 .real_customers_title {
    position: relative;
    padding-top: 56px;
    padding-left: 20px;
    margin-bottom: 40px;
  }
  .real2 .real_customers_title > h3 {
    color: #111827;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 8px;
    word-wrap: break-word;
  }
  .real2 .real_customers_title > p {
    color: #111827;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }
  .real2 .real_customers_title > .quote {
    position: absolute;
    top: 0;
    left: 0;
  }
  .real2 .airbnb {
    padding: 32px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
    border: none;
    margin-bottom: 24px;
  }
  .real2 .airbnb .company_logo {
    margin-bottom: 32px;
  }
  .real2 .airbnb .option {
    padding-left: 32px;
    position: relative;
  }
  .real2 .airbnb .option p {
    color: #111827;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    max-width: 680px;
    word-wrap: break-word;
    margin-bottom: 24px;
  }
  .real2 .airbnb .option h4 {
    color: #111827;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    word-wrap: break-word;
    margin-bottom: 0;
  }
  .real2 .airbnb .option span {
    color: #111827;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #6B7280;
    word-wrap: break-word;
  }
  .real2 .airbnb .option .quote {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 13px;
  }
  .real2 .hubspot {
    padding: 32px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
    border: none;
    margin-bottom: 24px;
  }
  .real2 .hubspot .company_logo {
    margin-bottom: 32px;
  }
  .real2 .hubspot .option {
    padding-left: 32px;
    position: relative;
  }
  .real2 .hubspot .option p {
    color: #111827;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    max-width: 650px;
    word-wrap: break-word;
    margin-bottom: 24px;
  }
  .real2 .hubspot .option h4 {
    color: #111827;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    word-wrap: break-word;
    margin-bottom: 0;
  }
  .real2 .hubspot .option span {
    color: #111827;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #6B7280;
    word-wrap: break-word;
  }
  .real2 .hubspot .option .quote {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 13px;
  }
  .real2 .strapi {
    padding: 32px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
    border: none;
  }
  .real2 .strapi .company_logo {
    margin-bottom: 32px;
  }
  .real2 .strapi .option {
    padding-left: 32px;
    position: relative;
  }
  .real2 .strapi .option p {
    color: #111827;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    max-width: 600px;
    word-wrap: break-word;
    margin-bottom: 24px;
  }
  .real2 .strapi .option h4 {
    color: #111827;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    word-wrap: break-word;
    margin-bottom: 0;
  }
  .real2 .strapi .option span {
    color: #111827;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #6B7280;
    word-wrap: break-word;
  }
  .real2 .strapi .option .quote {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 13px;
  }
  .our_achievements {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
  }
  .our_achievements .our_achievements_left {
    padding-top: 0;
  }
  .our_achievements .our_achievements_left h3 {
    color: #111827;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    width: 680px;
  }
  .our_achievements .our_achievements_right .statistic .statistic_title h3 {
    color: #111827;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
  }
  .integration .integration_title {
    width: 328px;
    padding: 20px 0px;
  }
  .integration .integration_title h3 {
    color: #111827;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
  }
  .integration .integration_img_box {
    height: 164px;
  }
  .integration .integration_img_box img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .manage_section .manage {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
  }
  .manage_section .manage .manage_title {
    margin-top: 80px;
  }
  .manage_section .manage .manage_title h3 {
    color: #111827;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    max-width: 680px;
  }
  .manage_section .manage .manage_title p {
    max-width: 680px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 355px;
    margin: 0 auto;
  }
  header nav .nav_images > img:nth-child(1),
  header nav .nav_images > img:nth-child(2) {
    display: none;
  }
  header nav .nav_images > img:nth-child(3) {
    margin-left: 0;
    padding: 8px;
  }
  header .hero {
    margin-top: 48px;
  }
  header .hero .hero_title {
    max-width: 340px;
  }
  header .hero .hero_title h1 {
    color: #111827;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
  }
  .features {
    padding: 48px 0px;
  }
  .grid_container {
    grid-template-columns: auto;
    gap: 48px 0px;
  }
  .real2 {
    padding: 48px 0px;
    margin-bottom: 48px;
  }
  .real2 .real_customers_title {
    padding-top: 32px;
    padding-left: 8px;
    margin-bottom: 32px;
  }
  .real2 .real_customers_title > h3 {
    color: #111827;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
  }
  .real2 .real_customers_title > p {
    color: #111827;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .real2 .real_customers_title > .quote {
    width: 96px;
    height: 78px;
  }
  .real2 .airbnb .option p {
    max-width: 249px;
  }
  .real2 .hubspot .option p {
    max-width: 239px;
  }
  .real2 .strapi .option p {
    max-width: 239px;
  }
  .our_achievements {
    margin-bottom: 64px;
  }
  .our_achievements .our_achievements_left h3 {
    color: #111827;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    width: 330px;
  }
  .our_achievements .our_achievements_left p {
    color: #111827;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    width: 330px;
  }
  .our_achievements .our_achievements_right {
    display: block;
  }
  .our_achievements .our_achievements_right .statistic {
    margin-bottom: 24px;
  }
  .our_achievements .our_achievements_right .statistic .statistic_title h3 {
    color: #111827;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
  .our_achievements .our_achievements_right .statistic .statistic_title p {
    color: #111827;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .integration {
    display: block;
    margin-bottom: 40px;
  }
  .integration .integration_title {
    margin-bottom: 16px;
    padding: 20px 0px;
  }
  .integration .integration_title h3 {
    color: #111827;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
  }
  .integration .integration_title p {
    color: #111827;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 336px;
  }
  .integration .integration_img_box {
    height: 168px;
  }
  .integration .integration_img_box img {
    height: 100%;
    width: 100%;
  }
  .manage_section .manage {
    row-gap: 32px;
  }
  .manage_section .manage .manage_title {
    margin-top: 48px;
  }
  .manage_section .manage .manage_title h3 {
    color: #111827;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    max-width: 330px;
  }
  .manage_section .manage .manage_title p {
    color: #111827;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    max-width: 350px;
  }
  .manage_section .manage .manage_img_box {
    display: block;
  }
  .manage_section .manage .manage_img_box .last_child {
    margin-top: 0px;
  }
  footer {
    padding: 40px 0px;
  }
  footer .container {
    display: block;
    padding-right: 0;
  }
  footer .container .footer_left {
    margin-bottom: 32px;
  }
  footer .container .footer_left ul {
    max-width: 300px;
  }
}/*# sourceMappingURL=style.css.map */